# Ignore virtual environment
venv/

# Ignore environment variable files
.env

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore Streamlit logs/state
.streamlit/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore model checkpoints or temp PDFs
*.pdf
#*.md
*.json
temp.pdf
